

.kanban-board {
  background-color: #f1f1f1;
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .kanban-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2em;
  }
  
  .controls {
    display: flex;
    gap: 20px;
  }
  
  .controls label {
    margin-right: 10px;
  }
  
  select {
    padding: 5px;
    font-size: 1em;
  }
  
  .kanban-content {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap; /* Ensure items do not wrap by default */
    flex-direction: row; /* Default to row layout */
  }
  @media (max-width: 1200px) {
    .kanban-content {
      flex-direction: row;
      flex-wrap: wrap; /* Allow wrapping for smaller screens */
    }
  }
  
  @media (max-width: 600px) {
    .kanban-content {
      flex-direction: column; /* Stack columns vertically on very small screens */
    }
  }
  