.kanban-column {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 5px;
  width: 230px; /* Default width for larger screens */
  margin-bottom: 1rem; /* Add margin-bottom for stacking */
  box-sizing: border-box;
}

.status-icon-column {
  height: 20px;
  width: 20px;
}

.priority-icon {
  height: 20px;
  width: 20px;
}

.kanban-column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
  
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left img {
  margin-right: 10px;
}

.header-left h4 {
  margin: 0;
  font-size: 0.8rem;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-right img {
  width: 20px; 
  height: 20px; 
}

.user-avatar {
  width: 25px; 
  height: 25px; 
  border-radius: 50%; 
  margin-right: 10px;
  object-fit: cover;
}

.task-total{
  font-size: 0.8rem;
  color: #757575;
}
.task-name{
  font-size: 0.8rem;
  margin-right: 0.6rem;
}
@media (max-width: 1200px) {
  .kanban-column {
    width: calc(33.333% - 1rem); /* 3 columns */
  }
}

@media (max-width: 900px) {
  .kanban-column {
    width: calc(50% - 0.5rem); /* 2 columns */
  }
}

@media (max-width: 600px) {
  .kanban-column {
    width: 100%; /* 1 column */
    margin-bottom: 1rem; /* Ensure spacing between stacked columns */
  }
}





